.about-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.about-pro{
    margin: 0;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #96e4e4;
    box-shadow: 0 0 10px  #96e4e4;
    font-weight: bold;
    color: #969696;
}