body{
    margin: 0;
    padding: 0;
}
.main-container{
    width: 100%;
    display: flex;
    
}
.middle-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F1F3F4;
}
.main-dash{
    width: 80%;
    height: 70%;
    padding: 20px;
    border: 1px solid #4ECDC480;
    margin: 40px ;
    margin-left: 90px;
    border-radius: 30px;
    border-top: 4px solid #4ECDC4;
    padding: 30px;
    background-color: #fff;
}
h1{
    margin: 0;
    font-size: 20px;
}
.firstText{
    font-size: 16px;
    color: #2b2b2b;
    font-weight: 600;
}
.paras{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact{
    font-weight: bold;
    margin-top: 25px;
}
.cont-text{
    font-size: 14px;
}