.paragraph{
    width: 95%;
    background-color: #F1F3F4;
    border: 1px solid #4ECDC4;
    margin-top: 10px;
    padding: 15px;
    border-radius: 15px;
}
.paragraph-heading{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.paragraph-text{
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    font-weight: normal;
}