.signup.name{
    color: aliceblue;
    font-size: small;
}
.login.name{
    display: block;
    text-align: left;
    margin-top: 15px;
    margin-bottom: -5px;

}
 .input > div{
    margin: 8px;
 }
.signup input
{
    padding-left: 5px;
    height: 30px;
    width: 190px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background-color: #00142c;
    border: 1px solid rgb(123, 123, 123);
    color: white;

}
.signup input[type="email"]{
    width: 90%;
}
.common-input input:focus {
    border: 3px solid rgb(48, 105, 227);
    box-shadow: 0 0 5px rgb(80, 100, 181);
    outline: none;
  }
.signup .show-error {
    text-align: left;
    color: #ff6666;
    font-size: 12px;
    margin-top: 2px; 
}
.login input
 {
    width: 95%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(159, 159, 159);
    margin-bottom: 5px;
    background-color: #182848;
    color: white;
}

.login .show-error {
    text-align: left;
    color: #ff6666;
    font-size: 14px;
    margin-top: -1px;
    margin-bottom: 10px;
    font-size: smaller;
}
