.label-signup{
    color: aliceblue;
    font-size: small;
}
.label-login{
    display: block;
    text-align: left;
    margin-top: 15px;
    margin-bottom: -5px;

}
.label-profile{
    font-size: smaller;
    font-weight: bold;
}
.label-security{
    font-size: smaller;
    font-weight: bold;
}
 .input > div{
    margin: 8px;
 }
 .inp-div > div{
    margin-right: 10px;
    margin-bottom: 3px;
}
.signup input
{
    padding-left: 10px;
    height: 33px;
    width: 187px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background-color: #00142c;
    border: 1px solid rgb(123, 123, 123);
    color: white;

}
.signup input[type="email"]{
    width: 90%;
}
.common-input input:focus {
    border: 3px solid rgb(48, 105, 227);
    box-shadow: 0 0 5px rgb(80, 100, 181);
    outline: none;
  }
.error-signup {
    /* text-align: left; */
    color: #ff6666;
    font-size: 12px;
    margin-top: 4px; 
    margin-left: -30px;
}
.login input
 {
    width: 95%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(159, 159, 159);
    margin-bottom: 5px;
    background-color: #182848;
    color: white;
}

.error-login {
    text-align: left;
    color: #ff6666;
    font-size: 14px;
    margin-top: -1px;
    margin-bottom: 10px;
    font-size: smaller;
}
.profile input{
    width: 490px;
    padding: 8px;
    background-color:#171f38;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    margin-top: 5px;
    color: white;
    padding-left: 10px;
}
#address{
    width: 990px;
    padding: 8px;
    padding-bottom: 30px;
  
}
.security input{
    width: 500px;
    padding: 8px;
    background-color:#171f38;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    margin-top: 5px;
    color: white;
}
#NewPassword{
    width: 100.5%;
}