body{
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.heading{
    height: 300px;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 100px;
    padding-top: 120px;
}
.para{
    width: 44%;
}
.left{
    text-align: left;
    font-size: 40px;
}
.spara{
    font-weight: bold;
    color: rgb(90, 82, 82);
}
.right{
    text-align: left;
}
.about{
    text-align: center;
}
.about-para{
    text-align: center;
    color: #969696;
    font-weight: bold;

}
.whats{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    
}
.what-included{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
}
.Footers{
    margin-top: 100px;
}