.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #002147;
    font-family: Arial, sans-serif;
}
.login-page .main-container {
    background-color: #182848;
    color: white;
    text-align: center;
    padding: 30px 50px;
    border-radius: 10px;
    width: 350px;
    height: 480px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-top: 3px solid #0080ff;
    
}

.login-page .checkbox-row {
    text-align: left;
    margin-top: 30px;
    font-size: 12px;

}

.login-page #forget {
    float: right;
    color: #00ccff;
    cursor: pointer;
    margin-top: 5px;
}
.login-page #create {
    color: #00ccff;
    cursor: pointer;
    margin-left: 42px;
}
.login-page .msg{
    text-align: left;
    font-size: 15px;
    margin-top: 30px;
    color: #dbdbdb;
    padding-left: 0px;
}


.login-page #Welcome{
    margin: 0;
    margin-top: -20px;
}
.login-page .msg1{
    color: #cbcbcb;
    margin-bottom: 30px;
    margin-top: 5px;
    text-align: center;
}

