.navbar{
    width: 100%;
    background-color: #293c7c;
    height: 80px;
    display: flex;
    position: relative;
    top: 0;
    align-items: center;
    padding-left: 100px;
    color: white;
}
.btns{
    position: relative;
    display: flex;
    gap: 20px;
    padding-left: 450px;   
}

.btns button{
    padding: 10px 20px;
    background-color: #293c7c;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}
