.o_card{
    width: 150px;
    height: 110px;
    background-color: #F1F3F4;
    border: 1px solid #4ECDC4;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
}
.o_card:hover {
    box-shadow: 0 0 15px rgba(97, 255, 244, 1);
}  
.title{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}
.text{
    font-size: 12px;
    font-weight: 400;
}
.line{
    width: 145px;
    height: 5px;
    background-color: #0A2463;
    border-radius: 20px;
    margin-top: 25px;
}