.Ocard2{
    width: 280px;
    height: 80pz;
    background-color: #F1F3F4;
    border: 1px solid #4ECDC4;
    border-radius: 15px;
    padding: 30px 60px;
    text-align: center;
    margin-top: 20px;
}
.Ocard2:hover {
    box-shadow: 0 0 15px rgba(97, 255, 244, 1);
}  
.title2{
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}
.text2{
    font-size: 12px;
    font-weight: 400;
}
