*{
    box-sizing: border-box;
}
.main-dash{
    font-family: Arial, sans-serif; 
    margin-left: 20px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #171f38;
    color: white;
    padding: 30px;
    padding-top: 30px;
    box-shadow: 0 0 10px 0 black;
    border: 2px solid rgb(80, 100, 181);
    transition: box-shadow 0.3s;
    padding-bottom: 30px;
    margin-bottom: 10px;
    position: relative;

}
.main-dash:hover{
    box-shadow: 0 0 5px rgb(80, 100, 181);
}
.head{
    margin-top: 0px;
}
.prefer{
    margin-top: 2px;
}
.inp-div{
    display: flex;
}

.add{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 20px;
}
.bulb{
    margin-top: 3px;
    margin-left: 15px;
    font-weight: bold;
}
#Profile.active{
    background-color: #202f50;
    border-left: 3px solid #003cff;
    border-right: 2px solid black;
}
.button {
    display: flex;
    margin-top: 50px;
  }
  
/* #saved{
    width: 620px;
    padding: 8px ;
    margin-top: 10px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    color: green;
} */