.profile-page{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1f2548;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}
.profile-page #main-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.profile-page #left-content{
    width: 260px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    background-color: #171f38;
    height: 100vh;
}

.profile-page .main-content {
   
    height: 100vh;
    display: flex;
    flex-direction: column;
    
  }
  
  .profile-page .scroll-area {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding-right: 15px;
    
    

  }
  

