.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 485px;
    height: 90px;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    background-color: #1b264e;
    padding-top: 15px;
    padding-left: 15px;
   

}
.card:hover{
    box-shadow: 0 0 10px  rgb(80, 100, 181);
}
.text{
    font-size: small;
    font-weight: bold;
    margin-top: 5px;
}
.title{
    font-size: xx-small;
    color: #adadad;
    
}
