*{
    box-sizing: border-box;
}
.main-dash{
    font-family: Arial, sans-serif; 
    margin-left: 20px;
    margin-top: 24px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #171f38;
    color: white;
    padding: 30px;
    padding-top: 10px;
    box-shadow: 0 0 10px 0 black;
    border: 2px solid rgb(80, 100, 181);
    transition: box-shadow 0.3s;
    padding-bottom: 30px;
    margin-bottom: 10px;
    position: relative; 

}
.main-dash:hover{
    box-shadow: 0 0 5px rgb(80, 100, 181);
}
#Security.active{
    background-color: #202f50;
    border-left: 3px solid #003cff;
    border-right: 2px solid black;
}
.prefer{
    margin-top: 4px;
}
.state{
    font-size: smaller;
    margin-top: -1px;
    color: #adadad;
    margin-bottom: 20px;
}
.inp-div{
    display: flex;
}
.hr1{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(85, 85, 85);
     margin-top: 50px;
}
.prefer{
    margin-top: 15px;
}
.Security{
    display: flex;
}