.security-page{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1f2548;
    height: 100vh;
    width: 100vw;

}
.security-page #main-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.security-page #left-content{
    width: 260px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    background-color: #171f38;
    height: 100vh;
}

.security-page #main-content{
    width: 100%;
    overflow: hidden;
}


/* #popup{
     position: absolute; 
    left: 0px;
    display: none;
    width: 620px;
    padding: 5px ;
    margin-top: 10px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    color: green;
    font-size: small;

}  */