.card{
    height: 150px;
    width: 320px;
    padding: 10px;   
    box-shadow: 0 0 10px  rgb(80, 100, 181);
    border-radius: 30px;
    padding-left: 30px;
}
.card p{
    margin-top: 10px;
    font-weight: 600;
    font-size: small;
    color: #444;
}