.user-info{
    display: flex;
    height: 90px;
    gap: 10px;
    color: white;
    font-size: 14px;
    padding: 20px;
    box-shadow: 0 0 5px 0 black;
    background-color: #2d395c;
    width: 260px;
    
}
.user-logo{
    width: 55px;
    height: 50px;
    background: linear-gradient(to right,rgb(83, 83, 255),rgb(149, 0, 198));
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    display: block;
}
.email{
    color: #c3c3c3;
    margin-top: 7px;
}
.dash{
    color: #adadad;
    font-size: small;
    font-weight: lighter;
    margin: 20px;
    margin-bottom: 10px;
}
.nav{
    display: flex;
    flex-direction: column;
}
.nav > div{
    width: 87%;
    margin-left: 20px;
    text-align: left;
    padding: 10px 20px;
    font-size: small;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
.nav > div:hover{
    background-color: #202f50;
    border-left: 3px solid #003cff;
    border-right: 2px solid black;   
    cursor: pointer;
}
.account{
    margin-top: 90px;
}