.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;        
    /* width: 100vw;      */
    margin: 0;
    background-color: #002147;
    font-family: Arial, sans-serif;
}
.signup-page .main{
    background-color: #182848;
    height: 520px;
    width: 480px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 black;
    position: relative;
    padding-top: 0px;
    padding-bottom: 20px;
}
.signup-page h2{
    
    color: rgb(196, 196, 196);
    padding-top: 20px;
    padding-left: 30px;
}
.signup-page .star{
    color: rgb(214, 214, 0);
    font-size: x-large;
}
.signup-page .para{
    color: whitesmoke;
    margin-bottom: 18px;
    margin-top: -10px;
    font-size: 14px;
    margin-left: 30px;
}

.signup-page .input{
    display: flex;
    margin-left : 24px;
    color: white;
}


.signup-page .input1{
    margin-left : 30px;
    margin-top: 5px;

}
.signup-page .input-pswd{
    margin-top: 5px;
    
}

.signup-page .info{
    font-size: 12px;
    color: whitesmoke;
    margin-left: 30px;
}
.signup-page .num{
    font-size: 12px;
    color: whitesmoke;
    margin-left: 30px;
    
}
.signup-page #hr{
    width: 87%;
    height: 7px;
    border-radius: 4px;
    border: none;
    background-color: gray;
    margin-top: 5px;
    margin-left: 33px;

}
.signup-page .check{
    margin-left: 26px;
    color: aliceblue;
    font-size: smaller;
    margin-top: 15px;
}
.signup-page .Terms{
    font-size: 14px;
    padding-left: 5px;
    Font-family: Likely "Inter", "Segoe UI", "Roboto", sans-serif;
}

.signup-page #msg{
    color: aliceblue;
    font-size: small;
    margin-top: 20px;
    margin-left: 33px;
}
/* .demo1{
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 1px solid #6f6f6f;
    background-color: #00142c;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: normal;
} */

.signup-page    #Sign{
    cursor: pointer;
    color: #1b82ff;
}   