body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #002147;
    font-family: Arial, sans-serif;
}
.main{
    background-color: #182848;
    height: 530px;
    width: 480px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 black;
    position: relative;
}
h2{
    
    margin: 24px;
    color: rgb(196, 196, 196);
    padding-top: 20px;
}
.star{
    color: rgb(214, 214, 0);
    font-size: x-large;
}
.para{
    color: whitesmoke;
    margin-left : 24px;
    margin-top: -10px;
    font-size: 14px;
}

.input{
    display: flex;
    margin-left : 24px;
    color: white;
}


.input1{
    margin-left : 30px;
    margin-top: 5px;

}


.info{
    font-size: 12px;
    color: whitesmoke;
    margin-left: 30px;
}
.num{
    font-size: 12px;
    color: whitesmoke;
    margin-left: 30px;
    
}
#hr{
    width: 85%;
    height: 7px;
    border-radius: 4px;
    border: none;
    background-color: gray;
    margin-top: 0;
    margin-left: 30px;

}
.check{
    margin-left: 26px;
    color: aliceblue;
    font-size: smaller;
    margin-top: 15px;
}
.Terms{
    font-size: 14px;
    padding-left: 5px;
    Font-family: Likely "Inter", "Segoe UI", "Roboto", sans-serif;
}
.create{
    width: 85%;
    height: 34px;
    text-align: center;
    margin: 14px 0 0 30px;
    background-color: #1b82ff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
#msg{
    color: aliceblue;
    font-size: small;
    margin: 30px;
    margin-top: 20px;
}
.demo1{
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: 1px solid #6f6f6f;
    background-color: #00142c;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: normal;
}

#Sign{
    cursor: pointer;
    color: #1b82ff;
}